Source: openmediavault-hpraid
Section: misc
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.3.0
Homepage: http://omv-extras.org

Package: openmediavault-hpraid
Architecture: all
Depends: openmediavault (>= 6.0.30),
         ssacli,
         python3,
         python3-yaml,
         ${misc:Depends}
Priority: optional
Description: HPRaid plugin for OpenMediaVault.
 Plugin to view information about HPE hardware raid.
